.wrapper {
  background-color: #e1dcdc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  color: #33373b;
  span {
    display: flex;
  }
}
